* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(135deg, #0f051d, #1f003d, #35006b);
    display: flex;
    justify-content: center;
    align-items: center;
}

.player {
    width: 350px;
    padding: 25px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    border-radius: 25px;
    text-align: center;
    color: #fff;
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
}

.cover {
    width: 200px;
    height: 200px;
    background: url('https://i.postimg.cc/SKV2Vg9z/music.gif');
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    margin: 15px auto;
    box-shadow: 0 0 25px #9c4fff;
}

#progress {
    width: 100%;
    margin-top: 25px;
    cursor: pointer;
    accent-color: #9c4fff;
}

.time {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    font-size: 14px;
    color: #ddd;
}

.controls {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.controls button {
    width: 55px;
    height: 55px;
    border: none;
    border-radius: 50%;
    font-size: 22px;
    color: #fff;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.15);
    transition: 0.2s;
    box-shadow: 0 0 10px rgba(156, 79, 255, 0.4);
}

.controls button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px #b06dff;
}

.play-btn {
    width: 70px;
    height: 70px;
    font-size: 26px;
    background: #9c4fff;
    box-shadow: 0 0 25px #9c4fff;
}

.play-btn:hover {
    box-shadow: 0 0 40px #c68aff;
    transform: scale(1.15);
}
